.layout {
  .navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 80px;
    height: 80px;
    padding: 40px 0 0 40px;
    border-radius: 50%;
    background-color: black;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    opacity: 0.25;
    transition: all 0.3s;
    z-index: 5;
    animation: appear 2s 1.5s ease backwards;
    overflow: hidden;

    .navigation-icon {
      display: block;
      padding: 6px;
    }

    .navigation {
      height: 100%;

      ul {
        margin: 0;
        display: flex;
        height: 100%;
        flex-direction: column;

        li {
          margin: 0;
          flex: 1;

          &::before {
            display: none;
          }

          &:first-child a {
            padding-top: 20px;
            padding-bottom: 6px;
          }
          &:last-child a {
            padding-bottom: 30px;
            padding-top: 6px;
          }

          a {
            height: 100%;
            position: relative;
            display: flex;
            padding-left: 20px;
            color: #000;
            transition: all 0.3s;

            &:before {
              content: "";
              height: 100%;
              left: 0;
              top: 0;
              width: 0;
              position: absolute;
              background-color: #000;
              transition: all 0.3s;
              z-index: -1;
            }

            &:hover {
              color: #fff;

              &:before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .navigation-wrapper-open {
    width: 600px;
    height: 600px;
    padding: 300px 0 0 300px;
    opacity: 1;
    background-color: white;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;

    .navigation-icon {
      display: none;
    }
  }
}

@keyframes appear {
  from {
    transform: translate(-100%, -100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
