.nav {
  position: fixed;
  left: 340px;
  width: calc(100% - 340px);
  height: 100%;
  opacity: 1;
  transition: all 0.3s;

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;

    li {
      margin-bottom: 0;

      &::before {
        display: none;
      }
    }

    li:not(:first-child):not(:last-child) {
      position: relative;
      overflow: hidden;

      div {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 0 0 0 3000px #fff;
        animation: wave-in 0.5s ease, shining 3s 0.5s ease infinite;
        animation-fill-mode: forwards;
        animation-name: wave-in, shining;
        animation-duration: 0.5s, 3s;
        animation-timing-function: ease;
        animation-iteration-count: 1, infinite;
      }

      a {
        display: block;
        position: relative;
        padding: 16px;
        height: 100%;
        text-decoration: none;

        span {
          display: block;
          position: relative;
          transform: translate(0, -120%) scale(10);
          color: #fff;
          font-weight: bold;
          opacity: 0;
          transition: all 0.3s;
        }
      }

      &:hover {
        div {
          animation: wave-out 0.3s cubic-bezier(0.9, 0, 1, 0.6);
          animation-fill-mode: forwards;
        }

        & span {
          transform: translate(0, -120%) scale(1);
          opacity: 1;
          transition: all 0.3s 0.2s;
        }
      }
    }

    li:first-child {
      flex: 1;
      background-color: #fff;
    }
    li:last-child {
      width: 100px;
      background-color: #fff;
    }
  }
}

@keyframes shining {
  0% {
    width: 12px;
    height: 12px;
  }
  50% {
    width: 36px;
    height: 36px;
  }
  100% {
    width: 12px;
    height: 12px;
  }
}

@keyframes wave-out {
  from {
    width: 12px;
    height: 12px;
  }
  to {
    width: 180vh;
    height: 180vh;
  }
}

@keyframes wave-in {
  from {
    width: 180vh;
    height: 180vh;
  }
  to {
    width: 12px;
    height: 12px;
  }
}
