.logo {
  position: fixed;
  left: 20px;
  width: 360px;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s;

  &-loaded {
    background-color: transparent;
    transition: all 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    top: 260px;
    left: 0;
    width: 100%;
    height: calc(100% - 260px);
    background-color: #fff;
    opacity: 1;
    transition: all 0.3s;
  }
}
