@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Orbitron;
    font-weight: 400;
    src: url(/fonts/Orbitron_Regular.ttf) format("tff");
  }
}

@layer components {
  mjx-container[jax="SVG"][display="true"] {
    text-align: left !important;
    overflow-x: auto;
  }
  mjx-container > svg {
    display: inline;
  }
  pre {
    padding: 0 !important;
    background-color: transparent !important;
  }
}

.atropos-shadow {
  border-radius: 50%;
  filter: blur(10px) !important;
}
